@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

/*style for authentication form*/

.form-container {
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  margin: 0 auto;
  margin-top: 30px;
}

.form-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form h1 {
  /* display: flex;
  justify-content: center; */
  /* margin: 1.8rem 0 0.5rem 0; */
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 380px;
  margin: 0 auto;
  gap: 1rem;

  /* border: 1px solid grey; */
}

.forgot-password {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  font-size: 0.8rem;
  color: blue;
}

.back-arrow {
  width: 2rem;
  height: 2rem;
}

.form input:active {
  border: 1px solid rgb(197, 197, 221);
}

.input-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-group_input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  border: 1px solid grey;
  outline: none;
}

.input-group_input,
.error {
  left: 0;
  position: relative;
}

.input-group_input ~ .input-group_label {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: #fff;
  padding: 0 3px;
  border: 1px solid transparent;
  transition: top 300ms, color 300ms, border-color 300ms, font-size 300ms;
}

.input-group_input:focus ~ .input-group_label,
.input-group_input:not(:placeholder-shown) ~ .input-group_label {
  top: -8px;
  border: black;
  transition: 0.15ms;
  color: blue;
}

@keyframes error-shake {
  0% {
    left: -10px;
  }
  20% {
    left: 8px;
  }
  40% {
    left: -6px;
  }
  60% {
    left: 4px;
  }
  80% {
    left: -2px;
  }
  100% {
    left: 0;
  }
}

.error {
  display: block;
  /* visibility: hidden; */
  display: none;
  margin: 4px 0 4px 10px;
  font-size: 1rem;
  color: red;
}

.input-group_input:not(:focus):invalid {
  border: 2px solid red;
  color: red;
}

.input-group_input:not(:focus):invalid ~ .error {
  /* visibility: visible; */
  display: block;
  animation: error-shake 600ms;
}

.input-group_input:not(:focus):invalid ~ .input-group_label {
  color: red;
  border: 1px solid red;
  margin-top: -3px;
}

.form button {
  background-color: blue;
  color: #fff;
  padding: 0.7rem;
  border-radius: 10px;
}

form button:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: black;
}

.link a {
  color: blue;
  text-decoration: underline;
}

.dashboard button {
  background-color: blue;
  color: #fff;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.dashboard button:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: black;
}

.authenticate p {
  color: blue;
  text-decoration: underline;
}

.or {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  gap: 10px;
}

.continue-with {
  /* text-wrap: none; */
  white-space: nowrap;
}

.dash {
  /* border-top-width: 2px; */
  width: 8rem;

  border: 1px solid grey;
}

/*style for loader */
.loader {
  --dim: 3rem;
  width: var(--dim);
  height: var(--dim);
  position: relative;
  animation: spin988 2s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-load {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.loader .circle {
  --color: #333;
  --dim: 1.2rem;
  width: var(--dim);
  height: var(--dim);
  background-color: var(--color);
  border-radius: 50%;
  position: absolute;
}

.loader .circle:nth-child(1) {
  top: 0;
  left: 0;
}

.loader .circle:nth-child(2) {
  top: 0;
  right: 0;
}

.loader .circle:nth-child(3) {
  bottom: 0;
  left: 0;
}

.loader .circle:nth-child(4) {
  bottom: 0;
  right: 0;
}

@keyframes spin988 {
  0% {
    transform: scale(1) rotate(0);
  }

  20%,
  25% {
    transform: scale(1.3) rotate(90deg);
  }

  45%,
  50% {
    transform: scale(1) rotate(180deg);
  }

  70%,
  75% {
    transform: scale(1.3) rotate(270deg);
  }

  95%,
  100% {
    transform: scale(1) rotate(360deg);
  }
}

/*style for link shortner*/
.shortner-div {
  width: 400px;
  background-color: grey;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-top: 20px;
  padding: 10px;
}

.shortner-form input {
  border: 1px solid grey;
  outline: none;
  padding: 10px;
  width: 300px;
}

/*google sign button*/
.google-sign {
  display: flex;
  margin: 0 auto;
  gap: 5px;
  margin-top: 15px;
  border: 1px solid grey;
  width: 370px;
  padding: 10px;
  border-radius: 10px;
}

.google-sign .google-image {
  margin-left: 130px;
}
